.search-input {
    border: 2px solid#888;
    border-radius: 10px;
    padding: 7px;
    width: 300px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    padding: 30px;
  }

  .img-container {
    display: inline-block;
    overflow: hidden;
   }

  .card-img {
    cursor: pointer;
    display: block;
    transition: 1s;
    width: 350px;
  }

  .card-img:hover {
    filter: brightness(60%);
    transform: scale(1.1);
  }